@page
@model RazorPagesUI.Pages.Chitare.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChitareColectie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChitareColectie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChitareColectie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChitareColectie.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChitareColectie.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChitareColectie.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChitareColectie.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChitareColectie.DataFabricarii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChitareColectie.DataFabricarii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChitareColectie.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChitareColectie.Rating)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ChitareColectie.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
