@page
@model RazorPagesUI.Pages.Hits.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hituri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hituri.NumeHit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hituri.NumeHit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hituri.DataDeLansare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hituri.DataDeLansare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hituri.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hituri.Album)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hituri.HitId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
